:root {
    --primary-color: #bc13fe; /* Neon Purple */
    --accent-color: #00ffff;  /* Cyan */
    --bg-color: #0d0221;
    --card-bg: #1a0b38;
}

body {
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-family: 'Courier New', Courier, monospace;
    margin: 0; padding: 20px;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 15px var(--primary-color);
    margin-bottom: 30px;
}

.logo-box {
    background: var(--primary-color);
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    text-shadow: 2px 2px #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--card-bg);
    border: 1px solid var(--primary-color);
}

th {
    background-color: #000;
    color: var(--primary-color);
    padding: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--accent-color);
    text-align: left;
}

td { padding: 15px; border-bottom: 1px solid var(--primary-color); color: white; }

tr:hover { background-color: #261152; cursor: pointer; box-shadow: inset 0 0 10px var(--accent-color); }

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.95);
}

.modal-content {
    background-color: #000;
    margin: 5% auto;
    padding: 40px;
    width: 50%;
    border: 2px solid var(--accent-color);
    box-shadow: 0 0 30px var(--primary-color);
}

.close-button {
    position: absolute;
    right: 20px; top: 10px;
    font-size: 35px;
    color: var(--accent-color);
    cursor: pointer;
}
